*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'DM Mono', monospace;
    font-size: 13px;
    line-height: 28px;
    h1,h2,h3,h4{
        font-family: 'DM Sans', sans-serif;
    }
    h1{
        font-size: 48px;
        line-height: 68px;
    }
    
    h2{
        font-size: 40px;
        line-height: 60px;
    }
    
    h3{
        font-size: 32px;
        line-height: 52px;
    }     
}
nav{
    div{
        .navbar-toggler-icon {
            background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2812, 0, 214, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .navbar-toggler{
            border: 1px solid $electricblue;
        }
    }
}
.menu{
    padding: 5px;
    a{
        color:black;
        &:hover{
            color: $electricblue; 
        }
    }
    .active{
        text-decoration: underline;
    }
}
a{
    .floating-button{
        position: fixed;
        bottom: 150px;
        right: 40px;
        padding: 10px 20px;
        background-color: $electricblue;
        color:white;
        border: 1px solid $electricblue;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'DM Mono', monospace;
        @include tablet{
            position: fixed;
            bottom: 120px;
            right: 10px;
            padding: 2px 11px;
        }
    }
}
footer{
    background-color: #232323;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    .social-icons,
    .footer-text{
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-right: 10px;
    }    
    .social-icons{
        a{
            color: #fff;
            margin: 0 10px;
        }
        i{
            font-size: large;
        }   
    }
}