main{
    .seccion1{
        .contenedor1{
            @include tablet{
                height: 580px;
            }
            img{
                @include tablet{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        } 
    }
    .seccion2{
        background-color: $electricblue;
        .contenedor2{  
            width: 100%;
            padding: 200px;
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "imagen2 contenido2";
            .imagen2{
                grid-area: imagen2;
                justify-self: center;
                align-self: center;
                .geek{
                    width: 30rem;
                    height: auto;
                    @include tablet{
                        width: 20rem;
                    }
                }
            }
            .contenido2{
                grid-area: contenido2;
                justify-self: center;
                align-self: center;
                color: white;
                .boton1{
                    color:white;
                    background-color: transparent;
                    text-decoration: none;
                    font-family: 'DM Mono', monospace;
                    font-size: 14px;
                    border: 1px solid white;
                    border-radius: 3px;
                    padding: 15px;
                    transition: all 0.5s ease;
                    &:hover{
                        color: $electricblue;
                        background-color:white;
                        transform: scale(1.05);          
                    }
                }
                @include tablet{
                    text-align: center;
                }
            }
            @include tablet{
                padding: 80px 20px;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas:"imagen2" 
                                    "contenido2";
            }
        }
    }
    .seccion3{
        width: 100%;
        background-color: $darkgrey;
        padding-top: 100px;
        padding-bottom: 100px;
        .contenido3{
            color: #fff;
            .contenedor-icono{
                text-align: center;
                margin: 20px;
                .icono{
                    font-size: 2em;
                    margin-bottom: 10px;
                }
            }
        }
        .easter-egg{
            text-align: left;
            margin-bottom: -50px;
            margin-left: 50px;
            img{
                width: 5rem;
            }
            @include tablet{
                text-align: center;
                margin: 0;
            }
        }
    }
    .seccion4{
        background-image: url(../img/pattern.png);
        background-size: 100%;
        .contenido4{
            padding: 50px;
            text-align: center;
            .card{
                padding: 10px;
                padding-bottom: 25px;
                border: 1px solid black;
                .boton2{
                    color:black;
                    background-color: transparent;
                    text-decoration: none;
                    font-family: 'DM Mono', monospace;
                    border: 1px solid black;
                    border-radius: 3px;
                    padding: 15px;
                    transition: all 0.5s ease;
                    &:hover{
                        color:white;
                        background-color:$electricblue;
                        border: 1px solid $electricblue;
                        transform: scale(1.05); 
                    }
                }
            }
        }
    }
    .seccion5{
        .contenedor5{
            background-color: $lightgrey;
            width: 100%;
            padding: 200px;
            display: flex;
            flex-wrap: wrap;
            .column{
                flex: 1;
                padding: 20px;
                box-sizing: border-box;
                img{
                    width: 30rem;
                    height: auto;
                    @include tablet{
                        width: 20rem;
                        height: auto;
                    }
                }
                @include tablet{
                    flex: 100%;
                    order: 2;
                }
                .tabla-container{
                    max-width: 100%;
                    overflow: auto;
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        margin-top: 20px;
                        th, td{
                            border-bottom: 1px solid black; 
                            padding: 15px;
                            text-align: left;
                        }  
                    }
                }    
            }
            @include tablet{
                padding: 80px 10px;
                text-align: center;
            }
        }
    }
}