main{
    .seccion8{
        .contenedor8{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center; 
            background-color: $darkgrey;
            .imagen-shinjuku{
                background-image: url(../img/shinjuku-noche.jpg); 
                background-size: cover;
                background-position: center;
                height: 0;
                padding-bottom: 100%; 
                @include tablet{
                    padding-bottom: 120%;
                }
            }
            .texto8-contenedor{
                margin-top: 80px;
                padding: 100px;
                color: white;
                .boton4{
                    color:white;
                    text-decoration: none;
                    font-family: 'DM Mono', monospace;
                    font-size: 14px;
                    border: 1px solid white;
                    border-radius: 3px;
                    padding: 15px;
                    &:hover{
                        color: $darkgrey;
                        background-color: white;
                        border: $darkgrey;
                    }
                }
                @include tablet{
                    margin-top: auto;
                    padding: 80px 20px;
                    text-align: center;
                }    
            }
            @include tablet{
                grid-template-columns: 1fr;
            }
        }
    }
    .seccion9{
        padding: 100px;
        .contenedor9{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 100px;
            .columna1-9{
                padding-right: 20px;
                .card-9{
                    margin-bottom: 20px;
                    border: none;
                    .card-contenedor{
                        a{
                            text-decoration: none;
                            color: black;
                            &:hover{
                                text-decoration: none;
                                color: $electricblue;
                            }
                        }
                    }
                }  
            }
            @include tablet{
                grid-template-columns: 1fr;
                text-align: center;
                padding: 50px 5px;
            }
            .columna2-9{
                padding-left: 20px;
                padding: 20px;
                .mapa{
                    border-radius: 5px;
                }
                @include tablet{
                    height: 600px;
                } 
            }
        }
        @include tablet{
            padding: 10px;
        }
    }
    .extra-shin{
        background-color: $lightgrey;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items:center;
        padding:150px;
        .extra-shin-1{
            padding: 80px 60px;
            @include tablet{
                padding: 80px 20px;
                order: 2;
            }
        }
        .extra-shin-2{
            background-image: url(../img/gengar-1.png); 
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            padding-bottom: 100%; 
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 9s;
            animation-delay: 5s;
            animation-name: gengar;
            @keyframes gengar{
                0%{
                    background-image: url(../img/gengar-1.png);
                    opacity: 1;
                }
                25%{
                    background-image: url(../img/gengar-2.png);
                    opacity: 1;
                }
                45%{
                    background-image: url(../img/gengar-3.png);
                    opacity: 1;
                }
                50%{
                    background-image: url(../img/gengar-3.png);
                    opacity: 1;
                }
                55%{
                    background-image: url(../img/gengar-3.png);
                    opacity: 1;
                }
                75%{
                    background-image: url(../img/gengar-2.png);
                    opacity: 1;
                }
                100%{
                    background-image: url(../img/gengar-1.png);
                    opacity: 1;
                }
            }
        }
        @include tablet{
            grid-template-columns: 1fr;
            text-align: center;
            padding: 50px 5px;
        }        
    }
}